configure
config.status
config.guess
config.sub
config.log
install-sh
missing
ylwrap
depcomp
autom4te.cache
*.o
*.lo
*.loT
*.a
*.la
Makefile
Makefile.in
INSTALL
aclocal.m4
.deps
.libs
libtool
ltmain.sh
compile
stamp-h1
stamp-h2
mpeg4ip-config
config.h
mpeg4ip_config.h
mpeg4ip_config.h.in
/common/video/iso-mpeg4/mpeg4-2000.h
/common/video/iso-mpeg4/mpeg4-2000.h.in
/common/video/mpeg4-2000/mpeg4-2000.h.in
